Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по правилам:

если источник traffic_source равен Yandex или Google, то в source_type ставится organic;
для источников paid и email из России ставим ad;
для источников paid и email не из России ставим other;
все остальные варианты берём из traffic_source без изменений.

In [3]:
import pandas as pb

In [76]:
log = pb.read_csv('/Users/sofagusina/Desktop/программирование/machine_learning/pandas/pandas_homework/hw3/доп_материалы_к_пандас_1_и_2/visit_log.csv',sep=';')

In [77]:
log.loc[(log['traffic_source'] == 'yandex') | (log['traffic_source'] == 'google'),'source_type'] = 'organic'

log.loc[((log['traffic_source'] == 'paid') | (log['traffic_source'] == 'email')) & (log.region == 'Russia'),'source_type'] = 'ad'
log.loc[((log['traffic_source'] == 'paid') | (log['traffic_source'] == 'email')) & (log.region != 'Russia'),'source_type'] = 'other'

Задание 2
В файле URLs.txt содержатся URL страниц новостного сайта. Вам нужно отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри URL конструкцию: /, затем 8 цифр, затем дефис. Выполните действия:

Прочитайте содержимое файла с датафрейм.
Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствие с заданным шаблоном.

In [32]:
url_text_data = pb.read_csv('/Users/sofagusina/Desktop/программирование/machine_learning/pandas/pandas_homework/hw3/доп_материалы_к_пандас_1_и_2/URLs.txt')


url_text_data[url_text_data.url.str.contains(pat = '/[0-9-]')].head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

Задание 3
Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значениями столбца timestamp для данного значения userId.

In [55]:
data_rating = pb.read_csv('/Users/sofagusina/Desktop/программирование/machine_learning/pandas/pandas_homework/hw3/доп_материалы_к_пандас_1_и_2/ml-latest-small/ratings.csv')

def mid_timestamp(row):
   return row['timestamp'].max() - row['timestamp'].min()


data_rating.groupby('userId').filter(lambda x: x['rating'].sum() >= 100).groupby('userId').apply(mid_timestamp)

/var/folders/07/xx2bf7ss4g30z8mzlm1lcbqr0000gn/T/ipykernel_18639/2744421121.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data_rating.groupby('userId').filter(lambda x: x['rating'].sum() >= 100).groupby('userId').apply(mid_timestamp)

userId
2           851
3         71198
4        203560
5          2101
6       1124022
         ...
666         642
667        1014
669         685
670     2162705
671    11283984
Length: 566, dtype: int64

Нужно сформировать две таблицы:

таблицу с тремя типами выручки для каждого client_id без указания адреса клиента;
аналогичную таблицу по типам выручки с указанием адреса клиента.

In [75]:
rzd = pb.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
auto = pb.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
air = pb.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
client_base = pb.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1',
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)


data = pb.merge(rzd,air,how='outer',on='client_id').merge(auto,how='outer',on='client_id').fillna(0)
data_with_adress = pb.merge(rzd,air,how='outer',on='client_id').merge(auto,how='outer',on='client_id').merge(client_base,how='outer',on='client_id').fillna(0)

data_with_adress

   client_id  rzd_revenue  air_revenue  auto_revenue          address
0        111       1093.0          0.0           0.0  Комсомольская 4
1        112       2810.0          0.0           0.0   Энтузиастов 8а
2        113      10283.0          0.0       57483.0  Левобережная 1а
3        114       5774.0          0.0          83.0          Мира 14
4        115        981.0         81.0         912.0        ЗЖБИиДК 1
5        116          0.0          4.0        4834.0    Строителей 18
6        117          0.0         13.0          98.0  Панфиловская 33
7        118          0.0        173.0           0.0     Мастеркова 4

In [1]:
a = 'fhfhf'
b = 'ddhdd'
a.replace('f','d')

'dhdhd'

3333